/*normalize*/

/*root*/
:root {
    --backgroundcolor-primary: #fff;
    --color-accent: #2196f3;
    --primary-text-color: #212121;
    --accent-text-color: #fff;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
    --button-color: #f5f4fA; 
    --primary-line-height: 1,17;
    --icon-primary-color: #afb1b8;
}
/* Base */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
/*body*/
body {
    background-color: var(--backgroundcolor-primary);
    color: var(--primary-text-color);
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 14px;
    line-height: var(--primary-line-height);
   }
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p {
    margin-top: 0;
   }
   .list {
       list-style: none;
       padding-left: 0;
       margin: 0;
   }
   .link {
       text-decoration: none;
       color: inherit;
   }
   img {
       display: block;
       max-width: 100%;
       height: auto;
   }
   address {
       font-style: normal;
   }

   h2 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
   }
    /* index */

   /* header {
    padding: 24px 0;
   } */
   
   
   .page-header {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
   }
   
     
   /*nav*/
   .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
       
   }
     /*logo*/

    .headerlink {
    display: flex;
    width: 145px;
    font-family: var(--font-family-logo);
    font-size: 26px;
    font-weight: 700;
    line-height: var(--primary-line-height);
    color: #000;
    text-decoration: none;
    }
        
    .logotype {
    display: flex;
    color: var(--color-accent);
    }
    .navlist {
    display: flex;
    list-style: none;
    margin-left: 93px;
    padding: 0;
    
}
.navlist-item {
    display: flex;
    justify-content: center;
    

}

.navlist-item:not(:last-child) {
    margin-right: 50px;

}
   .nav-link {
    display: flex;
    height: 100%;
    font-family: var(--font-family-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: var(--primary-line-height);
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 32px 0; 
   }
  .nav-link:hover,
  .nav-link:focus{
    color: var(--color-accent);
    }
  .navlist-item .nav-link:active {
   color: var(--color-accent);
   border-bottom: 4px solid var(--color-accent);
   }
  
   .header-contacts {
    display: flex;
   justify-content: center;
   align-items: center;
   margin-left: auto;
   }
     
     
   .mail-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    font-family: var(--font-family-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: var(--primary-line-height);
    color: #757575;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
   }  
   
   .mail-link:hover,
   .mail-link:active,
   .mail-link:focus {
   color: var(--color-accent);
   }
   .mail-icon {
       width: 16px;
       height: 12px;
       margin-right: 10px;
       fill: #757575;
          }

   .mail-link:hover .mail-icon{
        fill: var(--color-accent);
    }
   .mail-link:focus .mail-icon{
        fill:var(--color-accent);
    }
        
   .tel-link {
       display: flex;
       justify-content: center;
       align-items: center;
       font-family: var(--font-family-primary);
       font-size: 14px;
       font-weight: 500;
       line-height: var(--primary-line-height);
       color: #757575;
       text-decoration: none;
       transition-property: background-color;
       transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4,0,0.2,1);
   }

   .tel-link:hover,
   .tel-link:active,
   .tel-link:focus {
    color: var(--color-accent)
   }
   .tel-icon{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: #757575;
   }
   .tel-link:hover .tel-icon {
        fill: var(--color-accent);
    }
   .tel-link:active .tel-icon {
        fill: var(--color-accent);
    }
   .tel-link:focus .tel-icon {
    fill:var(--color-accent);
   }



/* Hero */
   .hero {
    max-width: 1600px;
    min-height: 600px;
    background-image: url('../images/Img.jpg');
    background-size: cover;
    background-position: center;
    background-color: #2f303a; 
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    position: relative;
   }
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   height: 100%;
    padding: 200px 0;
    background-color: rgba(47, 48, 58, 0.4);
}

   .hero-section {
    width: 1200px;
    padding: 0 252px;
    text-align: center;
    margin: 0 auto;
     
   }
   
   .hero-title {
    margin: 0;
    width: 696px;
    margin-bottom: 30px;
    color: var(--accent-text-color);
        font-family: var(--font-family-primary);
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-align: center;

   }
   .hero-button {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    background-color: var(--color-accent);
    color: var(--accent-text-color);
    font-family: var(--font-family-primary);
    font-style: normal; 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    text-align: center;
    min-width: 200px;
    min-height: 50px;
    padding: 10px;
   }
   /*features*/   
  
   .featuÐ³es {

    padding-top: 94px;
    padding-bottom: 94px;
    
   }
   .features-container {
    display: block;
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
   }
   
   .features-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    margin-bottom: 94px;
    padding: 0;
   }
   .features-list h3 {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
   }
   .featureslist-item {
    display: block;
    width: 270px;
    
   }
   .feature-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--button-color);
     margin-bottom: 30px;
   }
   .features-icon {
    width: 70px;
    height: 70px;
   }
    
   
   
    
   
   .features-text {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 14px;
    color: #757575;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
   }
      

  
   
   .features-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
   
   }
   .servis-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
   }
   .servislist-item {
    position: relative;
    margin-right: 30px;
    margin-bottom: 0;
   }
   .servislist-item:nth-child(3n) {
    margin-right: 0px;
   }
   .servis-description {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    padding: 27px 0;
   }
   .servis-description h3 {
        
        font-family:var(--font-family-primary);
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: var(--primary-line-height);
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--accent-text-color);
        margin: 0;

   }
   /* team */
   .team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
   
   }
   .team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px; 
  padding-left: 15px;
      
   }
   .team-container h2 {
    margin-bottom: 50px;
   }
   .team-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    width: 1170px;
    text-align: center;
    list-style: none;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
   }
   .item-data {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--backgroundcolor-primary);
   }
   .item-data h3 {
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
   margin-right: auto;
   margin-left: auto;
   }
   
   .team-list p {
    display: block;
    margin: 0;
    margin-bottom: 16px;
    color: #757575;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
   }
   .teamlist-item {
    margin-right: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   } 
   
   .teamlist-item:nth-child(4n) {
    margin-right: 0;
   }
   

 .team-list h3 {
    font-weight: 500;
    font-size: 16px;
}
.social-webs {
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 50%; 
width: 206px;  
height: 44px;
margin: 0 auto;

}
.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 50%;
    background-color: var(--backgroundcolor-primary);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
  }
  

  
  .social-link:hover  {
     background-color: var(--color-accent);
     border-color: var(--color-accent);
 }
  .social-link:active  {
     background-color: var(--color-accent);
 }
  .social-link:focus {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
  }
  .social-link:focus .links-icon {
    fill: var(--backgroundcolor-primary);
  }

.links-icon {
    width: 100%;
    height: 100%;
    padding: 12px 12px;
    fill: var(--icon-primary-color);

}
.links-icon:hover {
        fill: var(--backgroundcolor-primary);
    }
.links-icon:active {
        fill: var(--backgroundcolor-primary);
    }
.links-icon:focus {
        fill: var(--backgroundcolor-primary);
    }
/* clients */

.clients {
padding-top: 105px;
padding-bottom: 94px;
}
.brands {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: 1200px;
margin: 0 auto;
padding: 0 15px;
}
.clients-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;    
}
.clients-list {
display: flex;
justify-content: center;
align-items: center;

}
.clients-list.brands-logotype {
display: block;
}

    


.clients-item:not(:last-child) {
margin-right: 30px;
}
.client-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    
    }
.client-links:hover {
border-color: var(--color-accent);
fill: var(--color-accent);
}
.client-links:focus {
    border-color: var(--color-accent);
    fill: var(--color-accent);
}
.client-links:active {
    border-color: var(--color-accent);
    fill: var(--color-accent);
}



.brands-logotype {
display: flex;
 width: 100%;
 height: 100%;   
margin: 0 auto;
padding: 16px;
border: 1px solid;
border-color: var(--icon-primary-color);
fill: var(--icon-primary-color);
}
.client-links:hover .brands-logotype  {
     fill: var(--color-accent);
    border-color: var(--color-accent);
}

.client-links:focus .logotypes {
fill: var(--color-accent);
border-color: var(--color-accent);
}


/* footer */

footer {
background-color: #2f303a;
padding-top: 60px;
padding-bottom: 60px;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    background-color: #2f303a;
}
.footer-logotype {
    margin-right: 156px;
    height: 31px;
    margin-bottom: 20px;
}
.footer-title {
    display: flex;
    align-items: center;
    height: 31px;
    width: 875px;
    
}
.footer-title>h3 {
font-family: var(--font-family-primary);
font-size: 14px;
font-weight: 700;
line-height: var(--primary-line-height);
letter-spacing: 0.03em;
color: var(--accent-text-color);
text-align: start;
margin-bottom: 0;
}

.footer-social {
width: 212px;
height: 52px;
}
.footerlink-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.footerlink-item {
display: block;
width: 44px;
height: 44px;
text-align: center;
padding: 12px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.1);
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4,0,0.2,1);

}
.footerlink-item:hover {
background-color: var(--color-accent);
cursor: pointer;
}
.footerlink-item:active {
background-color: var(--color-accent);

}
.footerlink-item:focus {
background-color: var(--color-accent);

}
.footer-icon {
margin: 0 auto;
width: 20px;
height: 20px;
fill: var(--backgroundcolor-primary);
}
.logotype-footer {
    display: inline-block;
    padding: 0;
    margin: 0;
color: var(--color-accent);
}
.footerlink {
    display: inline-block;
    font-family: var(--font-family-logo);
    
        font-size: 26px;
        font-weight: 700;
        line-height: var(--primary-line-height);
        color: #000;
        text-decoration: none;
}
.footer-logo {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: var(--accent-text-color);
    font-family: var(--font-family-logo);
    font-size: 26px;
    font-weight: 700;
    line-height: var(--primary-line-height);
}
.contacts {
    display: block;
    font-style: normal;
    line-height: 1.71;
    color: var(--accent-text-color);
    width: 231px;
    margin-right: 63px;
}
.contacts a {
       text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.mail-link-footer {
display: block;
margin-bottom: 9px;
font-family: var(--font-family-primary);
font-size: 14px;
font-weight: 500;
line-height: var(--primary-line-height);
color: #757575;
text-decoration: none;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.mail-link-footer:hover,
.mail-link-footer:active,
.mail-link-footer:focus {
    color: var(--color-accent)
}
.tel-footer {
display: block;
font-family: var(--font-family-primary);
font-size: 14px;
font-weight: 500;
line-height: var(--primary-line-height);
color: #757575;
text-decoration: none;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.tel-footer:hover,
.tel-footer:focus {
    color: var(--color-accent)
}
/* Portfolio */

.portfolio {    
border-bottom: 1px solid #ececec;
}
.page-header-portfolio {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav-container-portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerlink-portfolio {
    display: flex;
    width: 145px;
    font-family: var(--font-family-logo);
    font-size: 26px;
    font-weight: 700;
    line-height: var(--primary-line-height);
    color: #000;
    text-decoration: none;
}
.header-contacts-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.works {
    padding-top: 94px;
    padding-bottom: 94px;
}
.work-examples {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 1200px;
padding-right: 15px;
padding-left: 15px;
margin: 0 auto;

}
/* example list */
.example-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 0;

}

.example-items {
position: relative;
width: 368px;
margin-right: 30px;
margin-bottom: 30px;
border: 1px solid;
border-color:  #ececec;
transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.example-items:nth-child(3n) {
    margin-right: 0;
    
}
.example-items:nth-last-child(-n+3) {
margin-bottom: 0;
}
.example-items:hover,
.example-items:active,
.example-items:focus {
box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
cursor: pointer;
}
.thumb-example {
position: relative;
overflow: hidden;
}
.thumb-example:hover .example-overlay {
/* top: 0;
left: 0; */
transform: translateY(0);
opacity: 1;
}
.example-overlay {
position: absolute;
background-color: rgba(33, 150, 243, 0.9);
width: 100%;
height: 100%;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
padding: 0 24px;
opacity: 0;
z-index: 1;
transform: translateY(100%);
transition-property: transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4,0,0.2,1);

}
.example-overlay>p {
display: inline-flex;
margin: 0;
padding: 0;
text-align: start;
font-family: var(--font-family-primary);
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1,55;
letter-spacing: 0.03em;
color: var(--accent-text-color);
}
.item-title {
position: relative; 
padding: 20px 24px;  
z-index: 1; 

}
.item-title h3{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
 margin-top: 0;
}
.item-title p {
margin: 0;
color: #757575;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
}


.contacts p {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 9px;
    margin-left: 0;
}


/*button*/
/* button::-moz-focus-inner {


} */

.button-list  {
    display: flex;
    min-width: 611px;
    margin: 0 auto;
    margin-bottom: 50px;
    align-items: center;
    list-style: none;
    height: 38px;
    padding-left: 0;
}

.button-list>.button-item:not(:last-child) {
    margin-right: 10px;
    
}
.button-item {
border-color: #fff;
}
.navbutton {
    height: 38px;
    color: var(--primary-text-color);
    background-color: var(--button-color);
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 6px 22px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);

}

.navbutton:active {
    color: var(--accent-text-color);
    background-color: var(--color-accent);
}


.navbutton:focus {
    color: var(--accent-text-color);
    background-color: var(--color-accent);
}
.navbutton:hover {
    color: var(--accent-text-color);
    background-color: var(--color-accent);
}